# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
!*.env.example
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Pre-commit
.pre-commit/

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
node_modules/
